@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
@import 'tailwindcss';
@config "../../tailwind.config.js";

/* 스위퍼 관련 */
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

/* Pretendard 폰트 */
@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  @apply font-sans bg-background text-black;
}

@layer utilities {
  /* radio 버튼 색상 custom - reading */
  input[type='radio'].reading {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border: 1px solid #c4c4c4;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
  }
  input[type='radio'].reading:checked {
    background-color: #9bc99f;
    border: 4px solid white;
    box-shadow: 0 0 0 2px #9bc99f;
  }
  input[type='radio'].reading:checked + span {
    color: #9bc99f;
  }

  /* radio 버튼 색상 custom - finished */
  input[type='radio'].finished {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border: 1px solid #c4c4c4;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
  }
  input[type='radio'].finished:checked {
    background-color: #94a8d2;
    border: 4px solid white;
    box-shadow: 0 0 0 2px #94a8d2;
  }
  input[type='radio'].finished:checked + span {
    color: #94a8d2;
  }
}
