@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
@import 'tailwindcss';
@config "../../tailwind.config.js";

/* 스위퍼 관련 */
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

/* Pretendard 폰트 */
@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/Pretendard-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  @apply font-sans bg-background text-black;
}

@layer utilities {
  /* radio 버튼 색상 custom - 공동 베이스 */
  input[type='radio'].radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border: 1px solid #c4c4c4;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
  }
  input[type='radio'].radio + span {
    color: #c4c4c4;
  }

  /* 책 미선택 */
  input[type='radio'].radio:disabled {
    border: 2px solid #d9d9d9;
  }

  /* 책 선택 + 상태 체크 안 함 */
  input[type='radio'].radio:not(:disabled):not(:checked) {
    border: 2px solid #6b6b6b;
  }
  input[type='radio'].radio:not(:disabled):not(:checked) + span {
    color: #6b6b6b;
  }

  /* 읽는 중 체크 */
  input[type='radio'].reading:checked:not(:disabled) {
    background-color: #9bc99f;
    border: 4px solid white;
    box-shadow: 0 0 0 2px #9bc99f;
  }
  input[type='radio'].reading:checked:not(:disabled) + span {
    color: #9bc99f;
  }

  /* 다읽음 체크 */
  input[type='radio'].finished:checked:not(:disabled) {
    background-color: #94a8d2;
    border: 4px solid white;
    box-shadow: 0 0 0 2px #94a8d2;
  }
  input[type='radio'].finished:checked:not(:disabled) + span {
    color: #94a8d2;
  }

  /* 감정 선택 슬라이더 커스텀 디자인 */
  .slider-custom {
    @apply w-full h-[25px] rounded-full appearance-none;
  }

  .slider-custom::-webkit-slider-runnable-track {
    @apply rounded-full;
  }

  .slider-custom::-webkit-slider-thumb {
    @apply appearance-none w-9 h-9 rounded-full bg-white shadow border border-gray-300;
  }
}
